/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #1aac83;
  --error: #e7195a;
}
body {
  background: var(--color-background);
  margin: 0;
  font-family: "Poppins";
}
header {
  background: var(--color-primary);
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.nav-link {
  display: flex;
  align-items: center;
  gap: 20px;
}

header a {
  color: var(--color-header);
  text-decoration: none;
}

.dark-mode-button {
  position: absolute;
  margin-top: auto;
  right: 80px;
  background: var(--primary);
  border-radius: 4px;
  padding: 5px;
  cursor: pointer;
}

/* homepage */
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

.App {
  --color-header: #333;
  --color-text: #555;
  --color-background: #f1f1f1;
  --color-primary: #fff;
  --color-input: #ddd;
  background-color: var(--color-background);
}

.App-dark {
  --color-header: rgb(125, 125, 125);
  --color-text: rgb(163, 163, 163);
  --color-background: #1e2227;
  --color-primary: #23272e;
  --color-input: #1d1f23;
}

.workout-details {
  background: var(--color-primary);
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.workout-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}
.workout-details p {
  margin: 0;
  font-size: 0.9em;
  color: var(--color-text);
}
.workout-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: var(--primary);
  padding: 4px;
  border-radius: 4px;
  color: var(--color-primary);
}

/* new workout form */
form h3 {
  color: var(--color-text);
}

label,
input {
  display: block;
  color: var(--color-text);
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid var(--color-input);
  background: var(--color-input);
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: var(--color-primary);
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: var(--color-primary);
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}
